<?xml version="1.0"?>
<config>
    <modules>
        <Cieslix_Test>
            <version>1.0.0</version>
        </Cieslix_Test>
    </modules>
    <global>
        <blocks>
            <cieslix_test>
                <class>Cieslix_Test_Block</class>
            </cieslix_test>
        </blocks>
        <helpers>
            <cieslix_test>
                <class>Cieslix_Test_Helper</class>
            </cieslix_test>
        </helpers>
        <models>
            <cieslix_test>
                <class>Cieslix_Test_Model</class>
            </cieslix_test>
        </models>
        <events>
            <controller_action_predispatch_cms>
                <observers>
                    <Cieslix_Test_Model_Test>
                        <type>singleton</type>
                        <class>cieslix_test/test</class>
                        <method>cmsHome</method>
                    </Cieslix_Test_Model_Test>
                </observers>
            </controller_action_predispatch_cms>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <cieslix_test>
                    <file>cieslix/test.xml</file>
                </cieslix_test>
            </updates>
        </layout>
    </frontend>
</config>